<h2>Login to this game</h2>

<form class="search-form" phx-submit="join_game">
  <input type="text" name="player_name" placeholder="Enter your name to join">
  <input type="checkbox" name="is_observer" value="true"> Observe Only
  <div><input type="submit"></div>
</form>